@import "/src/styles/mixin.scss";

.project{
    padding-bottom: 80px;

    .projectList{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        text-align: center;
    }
    @include breakpoint(mb) {
        .projectList{
            grid-template-columns: repeat(2, 1fr);
            gap: 80px;
        }
    }
    @include breakpoint(ipad) {
        .projectList{
            gap: 30px;
        }
    }
    @include breakpoint(xs) {
        .projectList{
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
    }
}
@for $i from 1 to 11 {
    .col:nth-child(#{$i}) {
        animation-delay: ($i * 0.2s)-0.2s;
    };
};
