@mixin btn{
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 0;
    letter-spacing: 1px;
    transition: all .3s linear;
    cursor: pointer;
    border: none;
  }