@import "/src/styles/mixin.scss";

.heading {
  margin-bottom: 70px;
  padding-top: 80px;
  text-align: center;
  hr {
    width: 7%;
    margin: 20px auto;
    border-color: #ddd;
  }
  .texth2 {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 37px;
    margin-bottom: 20px;
    padding-top: 10px;
  }
}

@include breakpoint(mb) {
  .heading{
    margin-bottom: 40px;
    padding-top: 50px;
  }
}

@include breakpoint(ipad) {
  .heading {
    margin-bottom: 30px;
    padding-top: 40px;
    .texth2{
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 32px;
        margin-bottom: 10px;
    }
  }
}
@include breakpoint(xs) {
  .heading {
    .texth2{
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 26px;
        margin-bottom: 0;
    }
  }
}
