.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all ease-in-out 1s;
  background-color: transparent;
  a {
    color: #fff;
    font-weight: 700;
  }
}
.navActive {
  transition: all ease-in-out 1s;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 0px 3px rgb(0 0 0 / 10%);
  .row {
    padding: 0;
  }
  a {
    font-size: 11px;
    letter-spacing: 3px;
    color: #222;
    &.active {
        color: #E23F43;
    }
  }
  .brand {
    letter-spacing: 0;
    font-size: 25px;
    font-weight: 800;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.col {
  padding: 15px;
}
.navbar {
  padding: 15px;
  color: black;
}
.brand {
  font-size: 25px;
  font-weight: 800;
}
