@import "/src/styles/mixin.scss";

.banner {
  background-image: url("http://themeturn.com/pro/db/kaptan-intro/kaptan/v2/images/bg/banner2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
  background-color: rgb(34, 34, 34);
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.78);
}
.content {
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  bottom: 0;
  padding: 150px 15px;
  position: relative;
  color: #fff;
  h1 {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 4px;
    margin: 15px 0;
  }
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
  }
  .contact {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    a {
      cursor: pointer;
      color: #fff;
      display: flex;
      align-items: center;
    }
    svg {
      cursor: pointer;
      font-size: 20px;
    }
    span {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

.subtitle {
  margin: 10px 0;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}
.btnDiscover {
  background-color: #e23f43;
  border-color: #e23f43;
  color: white;
  margin-top: 40px;
  @include btn;
  &:hover {
    background-color: #fff;
    color: black;
  }
}

@include breakpoint(mb) {
  .content{
    h1{
      font-size: 32px;
      letter-spacing: 3px;
    }
  }
}

@include breakpoint(ipad) {
  .content{
    padding: 80px 40px;
    gap: 30px;
    .avatar{
      width: 150px;
      height: 150px;
    }
    .subtitle{
      font-size: 15px;
    }
    h1{
      font-size: 30px;
      letter-spacing: 2px;
      line-height: 36px
    }
    .btnDiscover{
      margin-top: 30px;
    }
    .contact{
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      span{
        font-size: 12px
      }
    }
  }
}

@include breakpoint(xs) {
  .content{
    padding: 60px 20px;
    .avatar{
      width: 120px;
      height: 120px;
    }
    .subtitle{
      font-size: 14px;
    }
    h1{
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 36px
    }
    .btnDiscover{
      margin-top: 20px;
    }
    .contact{
      margin-top: 50px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
